<div class="row">
	<div class="col-md-6">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>description Todos activos</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody class="table-active">
      <% @todos.each do |todo| %>
      <% if todo.completed  %>
        <tr>
          <td><%= todo.description %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-6">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>description Todos inactivos</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="table-active">
      <% @todos.each do |todo| %>
      <% if !todo.completed  %>
        <tr>
          <td><%= todo.description %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
</div>
